

<div class="tienda">
    <div class="container-add-note">
            <div class="card">
                <a class="card-text" href="/links/addArbol">
                <div class="img-pokemon">
                    <img src="/garden/arbol.png" alt="">
                </div>
                <div class="abilities">
                    <p class="name-note"><b>Planta un arbol...</b></p>
                    <p></p>
                </div>
                </a>
                
            </div>
            <div class="card">
                <a class="card-text" href="/links/addArbusto">
                <div class="img-pokemon">
                    <img src="/garden/arbusto.png" alt="">
                </div>
                <div class="abilities">
                    <p class="name-note"><b>Crea un Arbusto...</b></p>
                    <p></p>
                </div>
                </a>
            </div>
            <div class="card">
                <a class="card-text" href="">
                <div class="img-pokemon">
                    <img src="/garden/roca.png" alt="">
                </div>
                <div class="abilities">
                    <p class="name-note"><b>Sedimenta una roca...</b></p>
                    <p></p>
                </div>
                </a>
            </div>
</div>