<header class="backgroundgame">
    <div class="background1"></div>
    <div class="background2"></div>
    <div class="background3"></div>
    <div class="background4"></div>
    <div class="background5"></div>
    <div class="garden-tree">
        <div class="tree-game1"><img src="/garden/arbol.png" alt=""></div>
    </div>
    <div class="suelo"></div>
    
</header>

<div class="arbolicos">
    <h2>noticias</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et eligendi ut, perferendis neque optio delectus aliquid dolorum accusantium cum nobis mollitia distinctio amet omnis laborum sunt tenetur sit corrupti suscipit!</p>
    <h2>noticias</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et eligendi ut, perferendis neque optio delectus aliquid dolorum accusantium cum nobis mollitia distinctio amet omnis laborum sunt tenetur sit corrupti suscipit!</p>
    <h2>noticias</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et eligendi ut, perferendis neque optio delectus aliquid dolorum accusantium cum nobis mollitia distinctio amet omnis laborum sunt tenetur sit corrupti suscipit!</p>
</div>